html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
}

body {
  margin: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

.intro {
  margin-top: -400px;
  margin-right: -400px;
  float: right;
  z-index: 1;
}

.phones {
  margin-top: -290px;
  float: right;
  margin-right: -980px;
  z-index: 2;
}

.container {
  margin: 0;
  padding: 0;
  top: 0;
  background-color: white;
  z-index: 3;
  width: 100%;
  display: block;
  height: 90px;
  position: absolute;
}

.navbar {
  z-index: 2;
  padding: 10px;
  z-index: 3;
  margin-top: 2%;
}

.navbar li {
  display: inline-block;
  padding: 0 25px;
  z-index: 3;
}

.navbar li a {
  text-decoration: none;
  color: grey;
  font-size: 14px;
}

#logo {
  float: left;
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 200px;
  margin-top: 3%;
}

.left-intro {
  margin-top: 250px;
  margin-left: 90px;
}

h1 {
  font: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 54px;
  height: 1em;
  color: hsl(233, 26%, 24%);
}

.left-intro p {
  position: relative;
  top: 40px;
  width: 450px;
  line-height: 1.5rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  font: 'Public Sans', sans-serif;
  height: 100wh;
}

.request-bar {
  position: relative;
  top: 40px;
  width: 160px;
  height: 2.9em;
  background-color: rgb(15, 27, 61);
  border-radius: 1.5rem;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  text-align: center;
  font-size: 14px;
}

.request-bar::before {
  content: attr(label);
  align-items: center;
  position: absolute;
  display: flex;
  top: 0.85em;
  left: 35px;
}

.left-detail {
  margin-top: 300px;
  background-color: hsl(220, 16%, 96%);
  width: 100%;
}

.left-detail h2,
.left-articles h2 {
  font: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 34px;
  height: 1em;
  color: hsl(233, 26%, 24%);
  margin-left: 98px;
  padding-top: 98px;
}

.left-detail p {
  color: hsl(233, 8%, 62%);
  position: relative;
  line-height: 1.5rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  font: 'Public Sans', sans-serif;
  margin-left: 98px;
}

.boxes {
  padding: 45px 98px;
  display: flex;
  margin-right: 1%;
}

.boxes p {
  font-size: 16px;
  margin-left: 0;
}
.boxes h3 {
  font: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  height: 1em;
  color: hsl(233, 26%, 24%);
}

.box-1,
.box-2,
.box-3,
.box-4 {
  width: 35%;
  margin-right: 30px;
}

.article-boxes {
  display: flex;
  margin-left: 98px;
  background-color: hsl(0, 0%, 98%);
}
.article-1,
.article-2,
.article-3,
.article-4 {
  width: 250px;
  margin-right: 50px;
  padding: auto;
  background-color: white;
}
.article-1 h3,
.article-2 h3,
.article-3 h3,
.article-4 h3 {
  font: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 1em;
  color: hsl(233, 26%, 24%);
  padding-top: 26px;
}

.article-boxes img {
  height: 200px;
  width: 250px;
}

.article-1 p,
.article-2 p,
.article-3 p,
.article-4 p {
  padding-top: 15px;
  color: hsl(233, 8%, 62%);
  position: relative;
  font-size: 14px;
  line-height: 1.2rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  font: 'Public Sans', sans-serif;
}
