html {
  margin:0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  top: 0;
  background-color: hsl(0, 0%, 98%);
}

.intro {
  margin-top: -400px;
  margin-right: -400px;
  float: right;
  z-index: 1;
}

.phones {
  margin-top: -290px;
  float: right;
  margin-right: -980px;
  z-index: 2;
}


#logo {
  float: left;
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 200px;
  margin-top: 3%;
}

.left-intro {
  margin-top: 250px;
  margin-left: 90px;
}

h1 {
  font: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 54px;
  height: 1em;
  color: hsl(233, 26%, 24%);
}

.left-intro p {
  position: relative;
  top: 40px;
  width: 450px;
  line-height: 1.5rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  font: 'Public Sans', sans-serif;
  height: 100wh;
}

.left-intro .request-bar {
  position: relative;
  top: 40px;
  width: 160px;
  height: 2.9em;
  background-color: rgb(15, 27, 61);
  border-radius: 1.5rem;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  text-align: center;
  font-size: 14px;
}

.container .request-bar {
  position: absolute;
  top: 28px;
  right: 120px;
  width: 160px;
  height: 2.9em;
  background-color: rgb(15, 27, 61);
  border-radius: 1.5rem;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  text-align: center;
  font-size: 14px;
}

.about .request-bar {
  position: absolute;
  right: 120px;
  width: 160px;
  height: 2.9em;
  background-color: rgb(15, 27, 61);
  border-radius: 1.5rem;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  text-align: center;
  font-size: 14px;
}

.request-bar::before {
  content: attr(label);
  align-items: center;
  position: absolute;
  display: flex;
  top: 0.85em;
  left: 35px;
}

.left-detail {
  margin-top: 300px;
  background-color: hsl(220, 16%, 96%);
  width: 100%;
}

.left-detail h2,
.left-articles h2 {
  font: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 34px;
  height: 1em;
  color: hsl(233, 26%, 24%);
  margin-left: 98px;
  padding-top: 98px;
}

.left-detail p {
  color: hsl(233, 8%, 62%);
  position: relative;
  line-height: 1.5rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  font: 'Public Sans', sans-serif;
  margin-left: 98px;
}

.boxes {
  padding: 45px 98px;
  display: flex;
  margin-right: 1%;
}

.boxes p {
  font-size: 16px;
  margin-left: 0;
}
.boxes h3 {
  font: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  height: 1em;
  color: hsl(233, 26%, 24%);
}

.box-1,
.box-2,
.box-3,
.box-4 {
  width: 35%;
  margin-right: 30px;
}

.article-boxes {
  display: flex;
  margin-left: 98px;
  background-color: hsl(0, 0%, 98%);
  padding-bottom: 100px;
}
.article-1,
.article-2,
.article-3,
.article-4 {
  width: 250px;
  margin-right: 50px;
  padding: auto;
  background-color: white;
}
.article-boxes h3 {
  font: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 1em;
  color: hsl(233, 26%, 24%);
  padding-top: 26px;
}

.article-boxes img {
  height: 200px;
  width: 250px;
}

.article-boxes p {
  padding-top: 15px;
  color: hsl(233, 8%, 62%);
  position: relative;
  font-size: 12px;
  line-height: 1.2rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  font: 'Public Sans', sans-serif;
  width: 80%;
}

.about {
  height: 180px;
  width: 100%;
  background-color: hsl(233, 26%, 24%);
  font-weight: 300;
}

.about-list {
  padding-top: 25px;
  display: flex;
}
.about ul {
  list-style-type: none;
  font-size: 14px;
  line-height: 2rem;
  color: white;
  padding-right: 95px;
}

.totes {
  padding-left: 60px;
  float: left;
  margin-top: 40px;
}

.icons {
  margin-left: 60px;
  margin-top: 70px;
}
.icons img {
  padding: 5px;
}

.about .request-bar {
  float: right;
  margin-top: -95px;
}

.about p {
  float: right;
  margin-top: -25px;
  margin-right: 110px;
  color: white;
  font-size: 12px;
}

.about p a {
  text-decoration: none;
  color: white;
}

.info {
  width: 160px;
  background-color: rgb(15, 27, 61);
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );

  font-size: 14px;
}
